@font-face{font-family:'ozBold'; 
src:url('../fonts/AoOz-Bold.eot?') format('eot'),
	url('../fonts/AoOz-Bold.woff') format('woff'),
	url('../fonts/AoOz-Bold.ttf') format('truetype'),
	url('../fonts/AoOz-Bold.svg') format('svg');font-weight:normal;font-style:normal}

$aoGreen: #7FBA24;

h1,h2,h3 { font-family: 'ozBold' }

.navbar {
	background: $aoGreen;
	color: white;
	img { float: left; margin-right: 1em; }
}
#page { margin-top: 80px; }

h2 { margin-bottom: 20px;}

section#floorplan {
	background: url('../images/floorplan.jpg') no-repeat center;
	height: 500px;
	width: 66%;
	float: left; 
	margin-right: 1em;
	position: relative;
	& > div { 
		position: absolute;
	}
	#starbucks { 
	    width: 148px;
	    height: 111px;
	    top: 49px;
	    left: 108px;
		background: rgba(255, 120, 0, 0.0)
	}
	#food-counter { 
	    width: 157px;
        height: 111px;
        top: 51px;
        left: 418px;
		background: rgba(120, 0, 40, 0.0)
	}
	#games-area { 
	    width: 100px;
  		height: 150px;
  		top: 286px;
  		left: 363px;
		background: rgba(0, 200, 40, 0.0)
	}
	#telephone-booth { 
	    width: 138px;
		height: 160px;
		top: 289px;
		left: 98px;
		background: rgba(0, 100, 140, 0.0)
	}
}

article {
	margin-bottom: 2px;
	border-bottom: 1px dashed silver;
	padding: 20px 0;
	&:first-child { 
		border-top: 1px dashed silver;
	}
	div {
		border-radius: 100px;
		float: left; margin-right: 1em;
	}
	& > div {
		background:#C6CDE0;
		padding: 2px;
		width: 68px;
		height: 68px;
		div {
			background: #C6CDE0 url('../images/bobafett.jpg');
			border: white 3px solid;
		width: 64px;
		height: 64px;
		}
	}
}	